.HOMESECTION p,
span,
h1 {
  color: black;
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 6rem;
}
.container p {
  color: black;
  font-size: 16px;
  /* max-width: 450px; */
  padding: 10px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.container .intro,
.intro-img {
  width: 40%;
}
.intro button a {
  text-decoration: none;
}
.container h1 {
  color: black;
  font-size: 100px;
  line-height: 1.04;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.container h1 span {
  color: #d8a236;
}
.container button {
  padding: 10px;
  width: 100px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;

  background-color: black;
  margin: 1.5rem 0;
  transition: 0.3s ease-in-out;
}
.container button:hover {
  background-color: #d8a236;
  color: #fff;
  border: 2px solid #d8a236;
}
.testimonialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.testimonialsContainer h1 {
  font-size: 60px;
  margin: 3rem 0;
}
.testimonialsContainer h1 span {
  color: #d8a236;
}
.testimonialsContainer p {
  font-size: 40px;
  margin-bottom: 2rem;
}
.testimonials {
  width: 80%;
  max-width: 600px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.testimonials-wrapper {
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
}
.testimonial-part {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: black;
  padding: 0 10px;
  font-size: 20px;
}
.testimonial-part:last-child {
  border-bottom: none;
}
.aboutcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 6rem;
}
.aboutcontainer .intro-img img {
  width: 510px;
  height: 360px;
}
.about-lower {
  margin-top: 4rem;
  text-align: center !important ;
}
.about-lower p,
h2 {
  color: black;
  text-transform: uppercase;
  margin: 5px 0;
  line-height: 1.34;
}
.about-lower span {
  color: #d8a236;
}

.choosemembership p {
  text-align: center;
  color: black;
  margin-bottom: 0;
}
.choosemembership h4 {
  margin-bottom: 1rem;
  font-weight: 300;
  color: #d8a236;
}
.choosemembership h2 {
  text-align: center;
  margin: 2rem 0;
}
.choosemembership {
  margin-top: 5rem;
}
.gymmembership ul li {
  color: black;
  list-style: circle;
  margin: 2rem;
}
.membershipTypes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.gymmembership {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 4rem 0;
  width: 300px;
  height: 565px;
}
.gymmembership .intro span,
h1 {
  text-align: start;
  padding: 10px;
}

.gymmembership h1 {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 0;
}
.gymmembership button {
  padding: 10px;
  width: 100px;
  width: 100%;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  transition: 0.3s ease-in-out;
}
.gymmembership button:hover {
  background-color: #d8a236;
  border: 2px solid #d8a236;
}
.gymmembership ul {
  height: 300px;
  margin-bottom: 2rem;
}
.contactname {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 6rem;
}
.contactname img {
  width: 510px;
  filter: grayscale(100%);
}
.getintouch {
  margin-top: 5rem;
}
.getintouch p {
  color: black;
}
.getintouch h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}
.getintouch span,
h5 {
  color: #d8a236;
  text-align: center;
  margin: 1rem 0;
}
.sendmessage p,
h1 {
  color: black;
  margin: 0rem 2rem;
  padding: 20px;
}
.sendmessage h1 {
  margin-top: 6rem;
}
.contactform {
  width: 50%;
  display: block;
  margin: 2rem;
  padding: 20px;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.contact-info .location,
.email,
.phonenum {
  height: 100px;
  text-align: center;
  align-content: center;
}
.contactform label,
input,
textarea {
  color: black;
}
.contactform input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#country {
  color: black;
}
#country option {
  color: black;
}
.contactform button {
  padding: 10px;
  width: 100px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  transition: 0.3s ease-in-out;
}
.contactform button:hover {
  border: 2px solid #d8a236;
  background-color: #d8a236;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.product-container p {
  font-size: 25px;
}
.product-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  padding: 20px 0;
}
.product-lists .lists {
  margin: 2rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 450px;
}
.lists img {
  width: 400px;
  height: 350px;
  /* padding: 20px */
}
.lists h4 {
  color: black;
  font-size: 30px;
  font-weight: 800;
  margin: 0.4rem 0;
  transition: 0.3s ease-in-out;
}
.lists span {
  font-size: 20px;
  font-weight: 300;
}
.lists .details {
  background: #ccc;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.lists a {
  text-decoration: none;
}
.lists a h4:hover {
  color: #d8a236;
}
.product-section h2 {
  color: #d8a236;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  text-decoration: underline;
}
.pagefooter-section {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.footercontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}
.description,
.socialicons,
.footer-contactinfo,
.info-type {
  flex-wrap: wrap;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  height: 300px;
}
.socialicons h1 {
  margin: 0;
}
.socialicons .links ul a {
  text-decoration: none;
}
.socialicons ul li {
  list-style: none;
}
.socialicons ul li a {
  text-decoration: none;
  font-weight: 300;
}
.pagefooter-section h1 {
  color: #fff;
  margin: 0;
}
.pagefooter-section span {
  color: #d8a236;
}
.footer-contactinfo h1 {
  padding: 20px 0;
}
.footer-contactinfo p {
  padding: 2px 0;
}
.copygright {
  margin-bottom: 3rem;
}
@media (max-width:1600px) {
  .container h1{
    font-size: 70px;
    padding: 0;
    margin: 2rem 0;
  }
  .container p{
    font-size: 30px;
  }
  .testimonial-part{
    font-size: 25px;
  }
  
}
@media (max-width:1200px) {
  .HOMESECTION{
    padding: 30px;
  }
  .home-section {
    margin: 0;
    display: flex;
  }

  .aboutcontainer .container{
    display: flex;
  }
  .container {
    width: 100%;
    margin: auto;
    
  }
  .container .intro {
    width: 100%;
  }
  .intro-img {
    display: none;
  }
  .testimonialsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .testimonialsContainer h1 {
    font-size: 50px;
    margin: 2rem 0;
    padding: 0;
  }
  .testimonialsContainer p {
    font-size: 30px;
    margin: 0;
  }
  .testimonials {
    margin: 2rem 0;
  }
  .testimonials-wrapper .testimonial-part {
    font-size: 20px;
  }
  .intro h1,
  h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
  }
  .pagefooter-section{
    margin-top: 2rem ;
  }
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
   align-items: start;
   justify-content:  start;
   padding: 0;
  }
  .footercontainer h2,
  h1 {
    font-size: 30px;
  }
  .footercontainer p {
    font-size: 15px;
  }
  .description, .socialicons, .footer-contactinfo, .info-type{
    height: auto;
    width: fit-content;
  }
  .copygright{
    margin-top: 2rem;

  }
 
  .aboutcontainer .container .intro{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutcontainer .container .intro p{
    width: 100%;
    margin: 2rem 0;
  }
  .about-section{
    padding: 20px;
  }
.about-lower h2{
font-size: 30px;
margin-bottom: 1rem ;
}
.choosemembership h2{
  font-size: 20px;
  padding: 0;
}
.membershipTypes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.membershipTypes .gymmembership{
width: 300px;
height: auto;
}
}
@media (max-width: 768px) {
  .HOMESECTION {
    padding: 30px;
  }
  .home-section {
    margin: 0;
    display: flex;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .container .intro {
    width: 100%;
  }
  .intro h1,
  h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  .intro-img {
    display: none;
  }
  .testimonialsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .testimonialsContainer h1 {
    font-size: 30px;
    margin: 2rem 0;
    padding: 0;
  }
  .testimonialsContainer p {
    font-size: 20px;
    margin: 0;
  }
  .testimonials {
    margin: 1rem 0;
  }
  .testimonials-wrapper .testimonial-part {
    font-size: 15px;
  }
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;

  }
  .footercontainer h2,
  h1 {
    font-size: 20px;
  }
  .footercontainer p {
    font-size: 10px;
  }
  .footercontainer ul li {
    font-size: 10px;
  }.description, .socialicons, .footer-contactinfo, .info-type{
    height: fit-content;
  }
  .aboutcontainer .container .intro p{
    width: 100%;
    margin: 2rem 0;
    font-size: 20px;
  }
  .about-lower h2{
    font-size: 25px;
    margin-bottom: 1rem 0;
    }
    
}

