@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}
.membership-section {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: black;
  /* visibility: hidden; */
}
.membershipbtn button {
  padding: 10px;
  background-color: greenyellow;
  border: 2px solid greenyellow;
  border-radius: 10px;
  margin: 0 2rem 0 0;
  transition: 0.3s ease-in-out;
}
.membership-section a{
  text-decoration: none;
}
.membershipbtn button:hover {
  background-color: green;
  border: 2px solid green;
}
.membership-section h1 {
  margin: 0 0 0 2rem;
  font-weight: 400;
  font-size: 25px;
}
.membershiplogo h1{
  color: white;
}
.membershipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}
.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 12rem;
  height: 100px;
  z-index: 2;
  position: relative;
  margin-bottom: 11rem;
  
}
.headContainer .logo{
  color: black;
  background-color: white;
  font-weight: 800;
  cursor: pointer;
}

.signupContainer button {
  padding: 10px;
  border-radius: 4px;
  width: 90px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: black;
}
.body-section {
  background-image: url(./images/bakcground-img.webp);
  width: 100%;
  position: relative;
  /* padding: 300px 0 250px; */
  height: 700px;
}
.image-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* height: 1000vh; */
}
.bodyContainer {
  
  z-index: 2;
  position: relative;
  text-align: center;
  color: #fff;
  margin-top: 5rem;
}
.bodyContainer h1 {
  font-weight: 800;
  margin: 0 0 2rem 0;
  font-size: 40px;
  letter-spacing: 0.02cm;
  
}
.bodyContainer h4 {
  font-weight: 400;
  margin: 1rem 0;
}
.bodyContainer p {
  margin: 1rem 0;
  font-weight: 300;
}
.bodyContainer button {
  padding: 10px;
  width: 100px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: black;
  margin: 1.5rem 0;
  transition: 0.3s ease-in-out;

}
.body-section button:hover {
  background-color: #d8a236;
  color: #fff;
  border: 2px solid #d8a236;
}
.bottombody-section {
  margin-top: 8rem;
  background-color: #f6f6f6;
}
.bottombody-section p {
  color: black;
}
.lowerbodyContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5rem 12rem;
  align-content: center;
}

.gymDetails {
  background-color: #f0f0f0;
  width: fit-content;
  border: 1px solid #ccc;
  text-align: center;
  margin: 1rem;
}
.gymDetails .img-div:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.gymDetails .img-div {
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.gymDetails .img-div img {
  width: 300px;
}
.gymDetails .subdetails p {
  margin-bottom: 1rem;
  transition: 0.3s ease;
  font-size: 20px;
}
.gymDetails .subdetails p:hover {
  color: #d8a236;
}
.footerContainer {
  height: 150px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buybtn a{
  text-decoration: none;
}
.footer-section .copyright{
  color: white;
}
.subscription {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  
}
.subscription button {
  padding: 10px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.subscription button:hover {
  background-color: #d8a236;
  border: 2px solid #d8a236;
}
.subscription h2 {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}
